<table class="table-fixed my-5 shadow-lg rounded-lg">
    <thead>
        <tr>
            <th class="w-1/3 px-4 py-2">Expense Name</th>
            <th class="w-1/5 px-4 py-2">Amount</th>
            <th class="w-1/4 px-4 py-2">Date</th>
            <th class="w-1/4 px-4 py-2">Category</th>
            <th class="w-1/4 px-4 py-2">Edit</th>
            <th class="w-1/4 px-4 py-2">Delete</th>
        </tr>
    </thead>

    <tbody>
        {% for expense in all_expenses %}
            <tr>
                <td class="border px-4 py-2">{{ expense.name }}</td>
                <td class="border px-4 py-2">{{ expense.amount }}</td>
                <td class="border px-4 py-2">{{ expense.created }}</td>
                <td class="border px-4 py-2">{{ expense.category }}</td>
                <td class="border px-4 py-2">
                    <a class="bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-5 rounded" href="{% url 'edit' expense.id %}">Edit</a>
                </td>
                <td class="border px-4 py-2">
                    <a class="bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-5 rounded" href="delete/{{ expense.id }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>