<form method="POST" class="shadow-lg my-5 rounded-lg">
    {% csrf_token %}
    <div class="form-container p-10 flex">
        <div class="mx-10">
            <div class="mb-5">
                <label class="font-semibold">Expense Name</label>
            </div>
            <div class="border-2 p-1">{{ form.name }}</div>
        </div>

        <div class="mx-10">
            <div class="mb-5">
                <label class="font-semibold">Amount</label>
            </div>
            <div class="border-2 p-1">{{ form.amount }}</div>
        </div>

        <div class="mx-10">
            <div class="mb-5">
                <label class="font-semibold">Category</label>
            </div>
            <div class="border-2 p-1">{{ form.category }}</div>
        </div>
        
        <div class="mx-10 mt-10">
            {% if is_edit_form %}
                <button type="submit" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-5 rounded">Save</button>
            {% else %}
                <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-5 rounded">Save</button>
            {% endif %}
        </div>
    </div>
</form>