{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'myapp/styles.css' %}">
    {% block styles %}{% endblock %}
    <title>{% block title %}Document{% endblock %}</title>
</head>
<body>
    <nav class="shadow-lg rounded-lg">
        <div class="p-10 flex flex-wrap justify-between items-center mx-auto">
            <a class="flex" href="{% url 'index' %}">
                <img class="h-20 mr-10" src="{% static 'myapp/images/wallet.png' %}" alt="Logo">
                <h1 class="self-center text-3xl font-bold">Expenses Tracker</h1>
            </a>
            <div>
                {% if user.is_authenticated %}
                    <span>Welcome {{ user.first_name|capfirst }}</span>
                    <a href="#">Logout</a>
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                    <a href="{% url 'register' %}">Register</a>
                {% endif %}
            </div>
        </div>
    </nav>
    {% block body %}{% endblock %}
</body>
</html>